<div class="wall"><!--landing image-->


        <div id="inner-nav">
          <a href="#signup" class="scroll-anchor">Sign Up</a>
          <a href="#about" class="scroll-anchor">About Us</a>
          <a href="#team" class="scroll-anchor">The team</a>
          <a href="#hours" class="scroll-anchor">Opening hours</a>

        </div>




  </div>
    <section id="about">
      <br><br><br>
      <h1>About</h1>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      <button class="up" style="background: rgba(0,0,0,0); outline: none; border: none;"><a href="#bon-rappétit"><i class="fas fa-angle-double-up"></i></a></button>

    </section>
    <section id="team">
<br><br><br>
      <h1>The team</h1><br>

      <img src="pictures/greencake.jpg" style="width:30%; height: auto;">

      <button class="up" style="background: rgba(0,0,0,0); outline: none; border: none;"><a href="#bon-rappétit"><i class="fas fa-angle-double-up"></i></a></button>
    </section>

    <section id="hours">
      <br><br><br>
      <h1>Opening Hours</h1>
      <br>

      <div style="padding: 20px;
      width: 100%;
      marign: 0 auto;">
  <table border="1" >

  <tr>
    <td>Monday</td>
    <td class="time" >15:00 - 23:00</td>

  </tr>
  <tr>
    <td>Tuesday</td>
    <td class="time" >15:00 - 23:00</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td class="time" >15:00 - 23:00</td>

  </tr>
  <tr>
    <td>Thursday</td>
    <td class="time" >15:00 - 23:00</td>

  </tr>
  <tr>
    <td  >Friday</td>
    <td class="time" >15:00 - 23:00</td>

  </tr>
  <tr>
    <td >Saturday</td>
    <td class="time" >11:00 - 23:00</td>

  </tr>
  <tr>
    <td>Sunday</td>
    <td class="time" >11:00 - 15:00</td>
  </tr>
</table>


</div>
      <button class="up" style="background: rgba(0,0,0,0); outline: none; border: none;"><a href="#bon-rappétit"><i class="fas fa-angle-double-up"></i></a></button>
      <br><h1>Address</h1>

      <p id="address">13,<br>Main Street,<br> Mosta</p>
      <br><hr><br>
      <h1>Call Us</h1>

      <h2 style="font-weight: lighter;">21249200</h2>
    </section>

    <section id="signup">
      <button class="up" style="background: rgba(0,0,0,0); outline: none; border: none;"><a href="#bon-rappétit"><i class="fas fa-angle-double-up"></i></a></button>
        <div class="form-box">
            <h2 class="form-header">Sign Up</h2>
            <form action="server/signupSERVER.php" method="post">


                <h1 class="form-section">Personal</h1>
                <hr><br>
                <h2 class="input-info">Name</h2>
                <input  class="input-box-form" type="text" name="name">

                <h2 class="input-info">Date of Birth</h2>
                <input  class="input-box-form" type="date" name="dob">

                <h2 class="input-info">Gender</h2>
                <div class="radio-group">

                  <input  style="text-align: left;" type="radio" name="gender" value="male" checked>Male <br>
                  <input  style="text-align: left;" type="radio" name="gender" value="female">Female<br>
                  <input  style="text-align: left;"  type="radio" name="gender" value="other">Rather not say
                </div>
                <br>


                <h1 class="form-section">Account</h1>
                <hr><br>
                <h2 class="input-info">Email</h2>
                <input  class="input-box-form" type="email" name="email">

                <h2 class="input-info">Password</h2>
                <input class="input-box-form"  type="password" name="password">

                <h2 class="input-info">Verify Password</h2>
                <input class="input-box-form"  type="password">
                <br><br>

                <h1 class="form-section">Contact</h1>
                <hr><br>
                <h2 class="input-info">Address</h2>
                <input  class="input-box-form" type="address" name="address">

                <h2 class="input-info">City</h2>
                <input  class="input-box-form" type="text" name="city">

                <h2 class="input-info">Country</h2>
                <input  class="input-box-form" type="text" name="country">

                <input class="form-submit" type="submit" value="Sign Up!">
            </form>


            <br>
        </div>
    </section>
