<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to bon rappétit!</title>
        <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link rel="stylesheet" href="styling.css">


    </head>
    <body>
      {% include 'header.html'%}

      {% include 'about.html'%}

      {% include 'footer.html'%}
    </body>
    <script src="scripts.js" charset="utf-8"></script>
</html>
