<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Our Menu</title>
        <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link rel="stylesheet" href="styling.css">


    </head>
    <body style="overflow-x: hidden;">


          {% include 'header.html'%}

         <div id="filter">
           <form method="get" action="menu.php" >

               <input type="submit" class="input-button-filter" name="q" value="All">
               <input type="submit" class="input-button-filter" name="q" value="Entree">
               <input type="submit" class="input-button-filter" name="q" value="Main">
               <input type="submit" class="input-button-filter" name="q" value="Dessert">
               <input type="submit" class="input-button-filter" name="q" value="Wine">

           </form>
         </div>


         {# authenticateUser(session.auth) #}
         <!--if auth = true display account-->

    <br><br>
    <div class="dish-container">

        {% for result in results %}

        <div class="div-dish">
          <div class="dish-container-inner">

            <img class="div-img" src="assets/images/dish/{{result.dishid}}.jpg">
            <div class="dish-info">
                <h1 class="dish-title">{{result.dish_name}}</h1>
                <hr>
                <h1 class="dish-about">{{result.dish_description}}</h1>
                <h1 class="dish-price">{{result.dish_price}}</h1>
          </div>

          {# if isFavourite({{result.dishid}}) == true #}

                  <form  class="fav-icon" action="server/favouriteSERVER.php" method="post">
                        <button  class="fav-icon-true" type="submit" name="makenotfav" value="{{result.dishid}}" style="border: none; outline: none; background-color: white;"><i class="fas fa-heart"></i></button>
                  </form>

          {# else #}

            <form class="fav-icon"method="POST" action="server/favouriteSERVER.php">
              <button class="fav-icon-false" type="submit" name="makefav" value="{{result.dishid}}" style="border: none; outline: none; background-color: white;"><i class="far fa-heart"></i></button>
            </form>

          {# endif #}

        </div>
      </div>

      {% endfor %}
      </div>
      <br>

      {% include 'footer.html'%}
    </body>

    <script src="scripts.js" charset="utf-8"></script>
</html>
